{lib_dirs,            ["deps"]}.
{erl_opts,            [ debug_info
                      , nowarn_shadow_vars
                      , warnings_as_errors
                      ]}.
{xref_checks,         [undefined_function_calls]}.
{eunit_opts,          [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
{cover_enabled,       true}.
{cover_print_enabled, true}.
{deps,
 [ {stdlib2, ".*", {git, "https://github.com/kivra/stdlib2", {branch, "master"}}}
 , {opentelemetry_api,  "~> 1.0"}
 , {eon,     ".*", {git, "https://github.com/kivra/eon",     {branch, "master"}}}
 ]}.

%%% eof
